        {% set plural_title = translate([crud.entity.name,'.common.plural_title']) %}
        {% set singular_title = translate([crud.entity.name,'.common.singular_title']) %}

        {# old stuff (crud-selection-summary) #}
        <div class="crud-hide crud-selection-summary-{{ crud.htmlid }}">
        </div>

        <ul class="nav nav-list crud-selection crud-selection-{{ crud.htmlid }}" data-crud-table="{{ crud.htmlid }}">
            <li class="nav-header">{{ translate('table.widget.selection-information') }}</li>
            <li>
                <p>
                    {% spaceless %}
                    <span class="triselect visible-selection">
                        <span class="tri-0">{{ translate('table.widget.selected-count-0', { ':count': 0, ':item': singular_title, ':items': plural_title }) }}</span>
                        <span class="tri-1">{{ translate('table.widget.selected-count-1', { ':count': 1, ':item': singular_title, ':items': plural_title }) }}</span>
                        <span class="tri-x">{{ translate('table.widget.selected-count-n', { ':count': '-', ':item': singular_title, ':items': plural_title }) }}</span>
                    </span>
                    <span class="invisible-selection crud-hide">
                        <span class="triselect">
                            <span class="tri-0">{{ translate('table.widget.invisible-count-0', { ':count': 0, ':item': singular_title, ':items': plural_title }) }}</span>
                            <span class="tri-1">{{ translate('table.widget.invisible-count-1', { ':count': 1, ':item': singular_title, ':items': plural_title }) }}</span>
                            <span class="tri-x">{{ translate('table.widget.invisible-count-n', { ':count': '-', ':item': singular_title, ':items': plural_title }) }}</span>
                        </span>
                    </span>.
                    {% endspaceless %}
                </p>
                {#
                <p class="crud-hide show-when-selection">
                    The following actions are available for your selection:
                </p>
                #}
            </li>
            <li>
                <p>
                    <!-- <a class="btn" href="#">Batch edit</a> -->
                    <div class="btn-group">
                        <!-- <a class="btn disabled crud-button-link" href="{{ ref(['_table/',crud.entity.name],view.queryarguments) }}">Show selection</a> -->
                        {% if is_granted(crud.entity.roles.update) %}
                        <a class="btn btn-success disabled crud-button-link" href="{{ ref(['_table/',crud.entity.name],view.queryarguments({'action':'edit-multiple'})) }}">{{ translate('table.widget.editsequencebutton') }}</a>
                        {% endif %}
                        {% if is_granted(crud.entity.roles.delete) %}
                        <a class="btn btn-danger disabled crud-button-confirm" data-modal-text-selector=".crud-selection-summary-{{ crud.htmlid }}" data-loading-text="Deleting&hellip;" href="{{ ref(['_table/',crud.entity.name],view.queryarguments({'action':'delete-multiple'})) }}">{{ translate('table.widget.deleteselectionbutton') }}</a>
                        {% endif %}
                    </div>
                </p>
                <p>
                    {# enable only for entities with feature Publishable #}
                    {#
                    <a class="btn" href="#">Publish now</a>
                    <a class="btn" href="#">Depublish now</a>
                    #}
                </p>
            </li>
        </ul>
