{% extends "Base/content_and_meta.html.twig" %}

{% block content %}

    <h1>Entities</h1>

    {% if app.session.hasFlash('error') %}
    <p class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('error') }}
    </p>
    {% endif %}
    {% if app.session.hasFlash('notice') %}
    <p class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('notice') }}
    </p>
    {% endif %}

    {% if app.session.hasFlash('debug') %}
    <pre>{{ app.session.flash('debug') }}</pre>
    {% endif %}

    <p>
        On this page you can add, edit and remove entities for your site.
    </p>

{% loadView 'Backend/findEntities' as entities %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Entity</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
{% for entity in entities.result %}
        <tr>
            <td>
                {{ entity.name }}
            </td>
            <td>
                {{ entity.name }}

    {% if entity.delete is defined %}
                <br/>
                <span class="label label-warning">
                    {{ translate('entities.message.entity-is-deleted') }}
                </span>
    {% else %}
        {% if entity.fixed %}
                <br/>
                <strong>
                    {{ translate('entities.message.entity-is-fixed') }}
                </strong>
        {% else %}
                <div class="btn-group on-row-hover">
                    <a class="btn btn-mini" href="{{ ref(['_entity/',entity.name]) }}"><i class="icon-pencil"></i> {{ translate('entity.button.edit') }}</a>
                    <a class="btn btn-mini btn-danger delete-entity-button" data-entity="{{ entity.name }}" href="{{ ref('_entities/all/mutate') }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                </div>
        {% endif %}
    {% endif %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block meta_content %}

    {% loadView 'Backend/findEntities' as entities %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">General information</li>
            <li>
            {% if entities.length == 0 %}
                <p>There are no entities.</p>
            {% elseif entities.length == 1 %}
                <p>There is {{ entities.length }} entity.</p>
            {% else %}
                <p>There are {{ entities.length }} entities.</p>
            {% endif %}
            </li>
            <li>
                <p>
                    <button type="button" class="btn add-entity-button">Add a new entity</button>
                </p>
            </li>
        </ul>
    </div>

    <div class="hide">
        <div class="add-entity">
            <form class="add-entity-form" method="post" action="{{ ref('_entities/all/mutate') }}">
                <input type="hidden" name="action" value="add_entity" />
                <label>
                    Name:<br/>
                    <input type="text" class="correct-type" data-type="identifier" data-identifier-allow="uppercase" name="name" value="" />
                </label>
                <label>
                    Bundle:<br/>
                    {% loadView 'Backend/findBundles' as bundles %}
                    <select name="bundle">
                    {% for bundle in bundles.result %}
                        <option value="{{ bundle.value }}">{{ bundle.title }}</option>
                    {% endfor %}
                    </select>
                </label>
                <label>
                    Specify type:<br/>
                    {% loadView 'Backend/findPresetEntities' as presetentities %}
                    {% for presetentity in presetentities.result %}
                    <label>
                        <input type="radio" name="entity_type" value="{{ presetentity.value }}">
                        <span>{{ presetentity.title }}</span>
                    </label>
                    {% endfor %}
                </label>
            </form>
        </div>
    </div>

{% endblock %}
