
{# @todo define this somewhere else #}

<style type="text/css">

table.crud-bike th.column-brand {
    width: 100px;
    min-width: 100px;
}

table.crud-bike th.column-title {
    width: 100%;
    min-width: 100%;
}

table.crud-bike th.column-year {
    width: 90px;
    min-width: 90px;
}

table.crud-bike th.column-reviews {
    width: 110px;
    min-width: 110px;
}

</style>

{#
<div class="crud crud-filter">
    <form method="get" action="" class="well form-inline">
        {% loadView 'Crud/Brand/findAll' as brands %}
        <select name="filter-brand">
            <option value="">(filter op merk)</option>
        {% for loopvar in brands.htmliterator.setActive('publicid', view.queryarguments['filter-brand']|default('')) %}
            {% set brand = loopvar.value %}
            <option value="{{ brand.publicid }}"{{ loopvar.selected }}>{{ brand.title }}</option>
        {% endfor %}
        </select>

        <input type="text" class="input-medium" name="filter-q" placeholder="Zoek op model.." value="{{ view.queryarguments['filter-q']|default('') }}" />

        <button type="submit" class="btn">filter</button>
    </form>
</div>
#}

{% if view.length > 0 %}

<table class="crud crud-any table table-striped" data-crud-table="{{ crud.htmlid }}">
    <thead>
        <tr data-order-href="{{ ref(['_table/',crud.entity.name]) }}', view.queryarguments({'table-order':''})) }}" data-order-current="{{ view.queryarguments['table-order']|default('title') }}">
            <th class="column-checkbox select-checkbox">
                <input type="checkbox" name="id-toggle" data-id="id-toggle">
            </th>
        {% for field in crud.entity.fields %}
            {% if field.in_crud is defined and field.in_crud %}
                <th>{{ field.name }}</th>
            {% endif %}
        {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% for item in view.result %}
        <tr class="{# item.crudGetRowClass() #}">
            <td class="select-checkbox">
                <input type="checkbox" name="id{{ item.id }}" data-id="{{ item.id }}">
            </td>
{#            <td>
                № {{ item.id }}
            </td>
#}

        {% for field in crud.entity.fields %}
            {% if field.in_crud is defined and field.in_crud %}
            <td>
                {% set fieldname = field.name|replace({'_':''}) %}
                {{ attribute(item, fieldname)|formatas('Backend/Auto') }}

                {% if field.show_buttons %}
                <div class="btn-group on-row-hover">
                    {% if is_granted(crud.entity.getRole('update')) %}
                    <a class="btn btn-mini crud-button-link" data-loading-text="Starting edit&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments) }}"><i class="icon-pencil"></i> {{ translate('entity.button.edit') }}</a>
                    {% endif %}
                    {% if is_granted(crud.entity.getRole('delete')) %}
                    <a class="btn btn-mini btn-danger crud-button-confirm" data-modal-text-selector=".text-delete-{{ item.id }}" data-loading-text="Deleting&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments({'action':'delete'})) }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                    {% endif %}
                </div>
                {% endif %}
            </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

    <div class="alert alert-block">
        <p>
            There are no records.
        </p>
    </div>

{% endif %}
