
{#
<div class="crud crud-filter">
    <form method="get" action="" class="well form-inline">
        {% loadView 'Crud/TranslationText/findAll' as ttexts %}
        <select name="filter-siteandgroup">
            <option value="">(filter on site &amp; group)</option>
        {% for loopvar in ttexts.htmliterator({'groupingby':'sitename,groupname'}) %}
            {% if loopvar.item_first %}
                {% set ttext = loopvar.value %}
                {% set value = [ ttext.sitename,'/',ttext.groupname]| join %}
                {% set selected = '' %}
                {% if value == view.queryarguments['filter-siteandgroup']|default('') %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
                <option value="{{ value }}"{{ selected }}>{{ ttext.sitename }} / {{ ttext.groupname }}</option>
            {% endif %}
        {% endfor %}
        </select>

        <input type="text" class="input-medium" name="filter-name" placeholder="Search by key name" value="{{ view.queryarguments['filter-name']|default('') }}" />

        <button type="submit" class="btn">filter</button>
    </form>
</div>
#}

<h1>{{ translate([crud.entity.name,'.common.plural_title'])|capitalize }}</h1>

<table class="crud crud-genericresource table table-striped" data-crud-table="{{ crud.htmlid }}">
    <thead>
        <tr>
            <th class="column-checkbox select-checkbox">
                <input type="checkbox" name="id-toggle" data-id="id-toggle">
            </th>
            <th class="column-id"                               >{{ translate([crud.entity.name,'.crud-heading.id']) }}</th>
            <th class="column-date"                             >{{ translate([crud.entity.name,'.crud-heading.date']) }}</th>
            <th class="column-title sort-by" data-order="title" >{{ translate([crud.entity.name,'.crud-heading.title']) }}</th>
            <th class="column-preview"                          >{{ translate([crud.entity.name,'.crud-heading.preview']) }}</th>
        </tr>
    </thead>

    <tbody>
    {% for item in view.result %}
        <tr class="{# item.crudGetRowClass() #}">
            <td class="select-checkbox">
                <input type="checkbox" name="id{{ item.id }}" data-id="{{ item.id }}">
            </td>
            <td>
                № {{ item.id }}
            </td>
            <td>
                <span class="date">{{ item.datemodified|formatas('Backend/Auto') }}</span>
                {# <span class="type">{{ translate([item.resourcetype|lower,'.singular_title']) }}</span> #}
            </td>
            <td>
                <span class="title">{{ item.title }}</span><br/>

                <span class="crud-hide text-delete-{{ item.id }}">
                    Are you sure you want to delete the resource <strong><span class="title">{{ item.title }}</span></strong>?
                </span>

                <div class="btn-group on-row-hover">
                    {% if is_granted(crud.entity.getRole('update')) %}
                    <a class="btn btn-mini crud-button-link" data-loading-text="Starting edit&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments) }}"><i class="icon-pencil"></i> {{ translate('entity.button.edit') }}</a>
                    {% endif %}
                    {% if is_granted(crud.entity.getRole('delete')) %}
                    <a class="btn btn-mini btn-danger crud-button-confirm" data-modal-text-selector=".text-delete-{{ item.id }}" data-loading-text="Deleting&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments({'action':'delete'})) }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                    {% endif %}
                </div>
                {% if item.isdownloadable %}
                <div class="btn-group on-row-hover">
                    <a class="btn btn-mini btn-info" href="{{ item.downloadlink }}"><i class="icon-arrow-down icon-white"></i> {{ translate('entity.button.download') }}</a>
                </div>
                {% endif %}
            </td>
            <td>
                <div class="preview">
                {% if item.isembeddable %}
                    {{ item.html(90,60) }}
                {% else %}
                    {{ translate('genericresource.no-preview') }}
                {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
