        <ul class="nav nav-list">
            <li class="nav-header">General information</li>
            <li>
                <p>
                    <strong>{{ item.title }}</strong>
                {% if view.length == 0 %}
                    has no comments.
                {% elseif view.length == 1 %}
                    has {{ view.length }} comment.
                {% else %}
                    has {{ view.length }} comments.
                {% endif %}
                </p>

                <p>
                    Go <a href="{{ ref(['_table/',crud.entityref]|join) }}">back</a> to {{ translate([crud.entity,'.table.name.plural']|join) }}.
                </p>
            </li>
        </ul>
