{% extends "BackendBundle:Base:content_and_meta.html.twig" %}

{% block content %}

<div class="crud crud-filter"><form class="well form-inline" action="" method="get">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
    {% for loopvar in tags.htmliterator({'groupingby':'group'}) %}
        {% set tag = loopvar.value %}
        {% if loopvar.group_start %}
                <td>
                    <strong>{{ tag.group }}</strong><br/>
        {% elseif loopvar.item %}
                    <label class="filter-checkbox"><input type="checkbox" name="tag{{ tag.name }}"{% if tag.checked %} checked="checked"{% endif %} /> {{ tag.name }}</label>
        {% elseif loopvar.group_end %}
                </td>
        {% endif %}
    {% endfor %}
            </tr>
            <tr>
                <td colspan="2">{# 2 should be usually right #}
                    <button class="btn" type="submit">filter</button>
                </td>
            </tr>
        </tbody>
    </table>
</form></div>

    <table class="developer table table-striped table-bordered">
        <tbody>
    {% for loopvar in views.htmliterator({'groupingby':'group'}) %}
        {% set view = loopvar.value %}
        {% if loopvar.group_start %}
            <tr>
                <th colspan="2">{{ view.group }}</th>
            </tr>
        {% elseif loopvar.item %}
            <tr data-tags="{% spaceless %}{% for tag in view.tags %}{{ tag }} {% endfor %}{% endspaceless %}">
                <td>{{ view.name }}</td>
                <td>
                    {{ view.description }}
                {% if view.longdescription or view.codeexample %}
                    <div class="on-row-hover btn-group">
                        {% if view.longdescription %}<a class="btn btn-mini" data-show="long-description">more info</a>{% endif %}
                        {% if view.codeexample %}<a class="btn btn-mini" data-show="code-example">{% raw %}{% code %}{% endraw %}</a>{% endif %}
                    </div>
                    <div class="toggles long-description">
                        <hr />
                        {{ view.longdescription|raw }}
                    </div>
                    <div class="toggles code-example">
                        <hr />
                        {{ view.codeexample|raw }}
                    </div>
                {% endif %}
                </td>
                {#
                <td>
                {% for tag in view.tags %}
                    {{ tag }}
                {% endfor %}
                </td>
                #}
            </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>

{% endblock %}


