{% extends "Base/content_and_meta.html.twig" %}

{% loadList 'Backend/Documentation' as menu excludeRoot %}

{% block content %}

    {{ documentation }}

    <ul class="pager">
    {% for menuitem in menu.previousandnext %}
        <li class="{{ menuitem.classes }}"><a href="{{ menuitem.link }}">{{ menuitem.label }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

{% block meta_content %}
<div class="well sidebar-nav">
    <ul>
    {% for menuitem in menu.items %}
        <li class="{{ menuitem.classes }}"><a href="{{ menuitem.link }}">{{ menuitem.label }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
