{#
    This is base template for every page in our back-end.

    This should rarely be used directly. Usually you should include main.html.twig
#}
<!DOCTYPE html>
<html lang="{{ app.request.get('_language') }}">
    <head>
        {{ outputter('headStart') }}

        <meta charset="{{ backend.meta.charset }}">

        <title>{{ backend.title }}</title>

        {{ outputter('titleAfter') }}

        <style type="text/css">

        {# temporary fix for the bootstrap images #}

{#
        [class^="icon-"], [class*=" icon-"] {
            background-image: url({% image '@BackendBundle/Resources/lib/bootstrap/img/glyphicons-halflings.png' %}{{ asset_url }}{% endimage %});
        }

        .icon-white {
            background-image: url({% image '@BackendBundle/Resources/lib/bootstrap/img/glyphicons-halflings-white.png' %}{{ asset_url }}{% endimage %});
        }
        [class^="icon-"], [class*=" icon-"] {
        }
#}

        </style>

        {{ outputter('headEnd') }}
    </head>

    <body>
        {{ outputter('bodyStart') }}

        <div class="header">
        {% block header %}
            Header
        {% endblock %}
        </div>

        <div class="body">
        {% block body %}
            Base body
        {% endblock %}
        </div>

        <div class="footer">
        {% block footer %}
            Footer
        {% endblock %}
        </div>

        {{ outputter('bodyEnd') }}
    </body>

</html>
