{# Fields #}

{% block shared_file_widget %}
        <div class="file-drop-target" data-drop-target="{{ full_name }}">
        {% if attr.multiple %}
            <span>{{ translate('form.backend_file.droparea-plural') }}</span>
        {% else %}
            <span>{{ translate('form.backend_file.droparea-singular') }}</span>
        {% endif %}
        </div>
        <ul class="unstyled files">
        {% if files is defined %}
            {% for file in files %}
            <li data-json="{{ file.json }}">
                <span class="name">{{ file.name }}</span> (<span class="size">{{ file.size }} bytes)
            </li>
            {% endfor %}
        {% endif %}
            <li class="no-file">
                <span class="name">&#160;</span>
                <div class="progress progress-striped">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <span class="status">&#160;</span>
            </li>
        </ul>
{% endblock %}

{% block backend_file_widget %}
    {% spaceless %}
        {{ block('shared_file_widget') }}
        <span class="btn btn-success crud-fileinput">
        {% if attr.multiple %}
            <span class="icon-plus icon-white"></span>
            <span>{{ translate('form.backend_file.uploadbutton-plural') }}</span>
        {% else %}
            <span class="icon-arrow-up icon-white"></span>
            <span>{{ translate('form.backend_file.uploadbutton-singular') }}</span>
        {% endif %}
            <input type="file" {{ block('widget_attributes') }} />

            {{ form_widget(form.filesinfo) }}
        </span>

        <div class="crud-hide execute-function"
            data-function="activateJQueryFileUpload"
            data-name="{{ full_name }}"
            data-url="{{ ref('_api/fileupload', {'type':'jquery-fileupload','name':full_name}) }}"
            data-text-done="{{ translate('form.backend_file.status-done') }}"
            data-text-fail="{{ translate('form.backend_file.status-fail') }}"
        ></div>
    {% endspaceless %}
{% endblock %}

{% block backend_resource_widget %}
    {% spaceless %}
        {{ block('shared_file_widget') }}
        <div class="file-selection crud-hide alert alert-info" data-selection-target="{{ full_name }}">
            <table class="table table-striped">
                <tbody>
                {% loadView 'GenericResource/findAll' as resources %}
                {% for resource in resources.result %}
                    <tr>
                        <td>№ {{ resource.id }}</td>
                        <td>{{ resource.title }}</td>
                        <td>
                            {% if resource.isembeddable %}
                                {{ resource.html(100,75) }}
                            {% endif %}
                        </td>
                        <td><span class="btn btn-mini file-add" data-id="{{ resource.id }}" data-name="{{ resource.title }}">Add file</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <span class="btn btn-success crud-fileselection">
        {% if attr.multiple %}
            <span class="icon-plus icon-white"></span>
            <span>{{ translate('form.backend_resource.choosebutton-plural') }}</span>
        {% else %}
            <span class="icon-arrow-right icon-white"></span>
            <span>{{ translate('form.backend_resource.choosebutton-singular') }}</span>
        {% endif %}
        </span>
        &#160;
        <span class="btn btn-success crud-fileinput">
        {% if attr.multiple %}
            <span class="icon-plus icon-white"></span>
            <span>{{ translate('form.backend_resource.uploadbutton-plural') }}</span>
        {% else %}
            <span class="icon-arrow-up icon-white"></span>
            <span>{{ translate('form.backend_resource.uploadbutton-singular') }}</span>
        {% endif %}
            <input type="file" {{ block('widget_attributes') }} />

            {{ form_widget(form.filesinfo) }}
        </span>

        {% if not attr.multiple %}
        &#160;
        <span class="btn btn-warning crud-fileinput">
            <span class="icon-arrow-left icon-white"></span>
            <span>{{ translate('form.backend_resource.removebutton-singular') }}</span>
        </span>
        {% endif %}

        <div class="crud-hide execute-function"
            data-function="activateJQueryFileUpload"
            data-name="{{ full_name }}"
            data-url="{{ ref('_api/fileupload', {'type':'jquery-fileupload','name':full_name}) }}"
            data-text-done="{{ translate('form.backend_resource.status-done') }}"
            data-text-fail="{{ translate('form.backend_resource.status-fail') }}"
        ></div>
    {% endspaceless %}
{% endblock %}

{% block backend_unique_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="unique" data-field="{{ name }}" data-sources="{{ sources }}" data-automatic="{% if value == "" %}autofill{% else %}keep{% endif %}">
        <div class="value-auto" data-empty="{{ translate('form.backend_unique.empty-value') }}">
            {% set fakeslug = 'dit-ne-the-slug-wert' %}
            {% set ref = [slug_entity,'/',fakeslug]|join %}
            {% set url_complete = ref(ref) %}
            {% set url_parts = url_complete|split(fakeslug) %}
            {% set slug_prefix = url_parts[0] %}
            {% set slug_postfix = '' %}
            {% if url_parts|length > 1 %}
                {% set slug_postfix = url_parts[1] %}
            {% endif %}

            {{ slug_prefix }}<strong class="value">{% if value is not empty %}{{ value }}{% endif %}</strong>{{ slug_postfix }} - <a href="#" class="value-edit">edit</a>
        </div>
        <div class="value-edit">
            {{ block('form_widget_simple') }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}


{# Rows #}

{% block field_row %}
{% spaceless %}
<div class="row-fluid crud-field-row">
    <div class="span9">
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock field_row %}


{# Support #}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname,attrvalue in attr %}
        {% if (attrname != 'class') and (attrname|slice(0,7) == 'widget_') %}{{attrname|slice(7,100)}}="{{attrvalue}}"{% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    id="{{ id }}"
    {% for attrname,attrvalue in attr %}
        {% if attrname|slice(0,7) != 'widget_' %}{{attrname}}="{{attrvalue}}"{% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}
