{% extends "Base/content_and_meta.html.twig" %}

{% block content %}

<form class="crud-edit-form" action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>

{% endblock %}


{% block meta_content %}
    
    <div class="well sidebar-nav crud-meta" data-crud-table="id1">
        <ul class="nav nav-list">
            <li>
                <p>
                    <a href="{{ ref(['_table/',crud.entity.name]) }}">{{ translate(['crud.record.back-to-all-',crud.entity.name]) }}</a>
                </p>
            </li>
        </ul>

        <ul class="nav nav-list">
            <li class="nav-header">General information</li>
            <li>
                <p>
                {% if item.id > 0 %}
                    {% if (item.datecreated is defined) and (item.datemodified is defined) and (item.datecreated==item.datemodified) %}
                        This item was created on {{ item.datecreated|formatas('Backend/Auto') }}.
                    {% else %}
                        {% if item.datecreated is defined %}
                            This item was created on {{ item.datecreated|formatas('Backend/Auto') }}.
                        {% endif %}
                        {% if item.datemodified is defined %}
                            It was last edited on {{ item.datemodified|formatas('Backend/Auto') }}.
                        {% endif %}
                    {% endif %}
                {% else %}
                        This is a new item.
                {% endif %}
                </p>
            </li>
        {% if crud.selection %}
            <li>
                <p>
                    You are editing a selection, by saving you are going to the next.
                </p>
                <p>
                    <div class="btn-group">
                        <a class="btn btn-primary crud-button-post-form" data-form-selector=".crud-edit-form" data-loading-text="Saving&hellip;" href="#">
                            Save
                        </a>
                        <a class="btn crud-button-post-form form-no-redirect" data-form-selector=".crud-edit-form" data-loading-text="Saving&hellip;" href="#">
                            Save and continue editing
                        </a>
                    </div>
                </p>

                <p>
                    <div class="btn-group">
                        <a class="btn crud-button-link" href="{{ crud.selection_next_href }}">Go to next without saving</a>
                    </div>
                </p>
            </li>
        {% else %}
            <li>
                <p>
                    <div class="btn-group">
                        <a class="btn btn-primary crud-button-post-form" data-form-selector=".crud-edit-form" data-loading-text="Saving&hellip;" href="#">
                            Save
                        </a>
                        <a class="btn crud-button-post-form form-no-redirect" data-form-selector=".crud-edit-form" data-loading-text="Saving&hellip;" href="#">
                            Save and continue editing
                        </a>
                    </div>
                </p>
            {#
                <p>
                    <a class="btn btn-danger" href="#">Delete</a>
                </p>
            #}
            </li>
        {% endif %}
        </ul>

        {#
        <ul class="nav nav-list">
            <li class="nav-header">Publishing</li>
            <li>
                <p>
                    This item has been published since May 22nd, 2012.
                    It has been scheduled to depublish itself on June 30th, 2012.
                </p>
                <p>
                    <div class="btn-group">
                        <a class="btn btn-warning" href="#">
                            Depublish now
                        </a>
                        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Depublish on ...</a></li>
                            <li class="disabled"><a href="#">Publish</a></li>
                        </ul>
                    </div>
                </p>
            </li>
        </ul>
        #}

        {% if crud.links|length > 0 %}

        <hr/>

        <ul class="nav nav-list">
            <li class="nav-header">Links</li>
            <li>
                <p>
                    You can communicate the following links to this page:
                </p>
                <ul>
                {% for link in crud.links %}
                    <li>
                        {% autoescape %}<a href="{{ link }}">{{ link }}</a>{% endautoescape %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %}

        {% if crud.snippets|length > 0 %}

        <hr/>

        <ul class="nav nav-list">
            <li class="nav-header">Development</li>
            <li>
                <p>
                {% if crud.snippets|length == 1 %}
                    You can use the following snippet in your templates:
                {% else %}
                    You can use any of the following snippets in your templates:
                {% endif %}
                </p>

                <ul>
                {% for snippet in crud.snippets %}
                    <li>
                        <code>{{ snippet }}</code>
                    </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>

{% endblock %}

