
{# @todo define this somewhere else #}

<style type="text/css">

table.crud-translationtext th.column-site {
    width: 110px;
    min-width: 110px;
}

table.crud-translationtext th.column-key {
    width: 30%;
}

table.crud-translationtext th.column-text1 {
    width: 70%;
}

table.crud-translationtext th.column-text2 {
    width: 35%;
}

table.crud-translationtext th.column-text3 {
    width: 23.33333%;
}

table.crud-translationtext th.column-text4 {
    width: 17.5%;
}

</style>

<div class="crud crud-filter">
{#
    <form method="get" action="" class="well form-inline">
        {% loadView 'Crud/SiteOption/findAll' as ttexts %}
        <select name="filter-siteandgroup">
            <option value="">(filter on site &amp; group)</option>
        {% for loopvar in ttexts.htmliterator({'groupingby':'sitename,groupname'}) %}
            {% if loopvar.item_first %}
                {% set ttext = loopvar.value %}
                {% set value = [ ttext.sitename,'/',ttext.groupname]| join %}
                {% set selected = '' %}
                {% if value == view.queryarguments['filter-siteandgroup']|default('') %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
                <option value="{{ value }}"{{ selected }}>{{ ttext.sitename }} / {{ ttext.groupname }}</option>
            {% endif %}
        {% endfor %}
        </select>

        <input type="text" class="input-medium" name="filter-name" placeholder="Search by key name" value="{{ view.queryarguments['filter-name']|default('') }}" />

        <button type="submit" class="btn">filter</button>
    </form>
#}
</div>

<table class="crud crud-siteoption table table-striped" data-crud-table="{{ crud.htmlid }}">
    <thead>
        <tr>
            <th class="column-checkbox select-checkbox">
                <input type="checkbox" name="id-toggle" data-id="id-toggle">
            </th>
            <th class="column-id">Id</th>
            <th class="column-site">Site</th>
            <th class="column-key">Key</th>
            <th class="column-text2">Value</th>
        </tr>
    </thead>

    <tbody>
    {% for item in view.result %}
        <tr class="{# item.crudGetRowClass() #}">
            <td class="select-checkbox">
                {% if item.humaneditable %}
                <input type="checkbox" name="id{{ item.id }}" data-id="{{ item.id }}">
                {% endif %}
            </td>
            <td>
                № {{ item.id }}

                <br/>
                {% if item.humaneditable %}
                <span class="label">editable</span>
                {% endif %}
            </td>
            <td>
                <span class="sitename">{{ item.sitename }}</span>
                <br/>
                {% if item.autoload %}
                <span class="label label-info">autoload</span>
                {% endif %}
            </td>
            <td>
                <span class="groupname">{{ item.groupname }}</span>.<span class="name">{{ item.name }}</span>

                <span class="crud-hide text-delete-{{ item.id }}">
                    Are you sure you want to delete the key <strong><span class="groupname">{{ item.groupname }}</span>.<span class="name">{{ item.name }}</span></strong>?
                </span>

                <span class="crud-hide text-dump-{{ item.id }}">
                    Site: <strong>{{ item.sitename }}</strong><br/>
                    Type: <strong>{{ item.mediatype }}</strong><br/>
                    <pre>{{ item.value }}</pre>
                </span>

                {% if item.humaneditable %}
                <div class="btn-group on-row-hover">
                    <a class="btn btn-mini crud-button-link" data-loading-text="Starting edit&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments) }}"><i class="icon-pencil"></i> {{ translate('entity.button.edit') }}</a>
                    <a class="btn btn-mini btn-danger crud-button-confirm" data-modal-text-selector=".text-delete-{{ item.id }}" data-loading-text="Deleting&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments({'action':'delete'})) }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                </div>
                {% endif %}
            </td>
            <td>
                {% set short_value = item.value|striptags|slice(0, 60) %}
                {% if short_value != item.value %}
                    <span>{{ short_value }}</span> <strong class="wbadge">&hellip;</strong>
                {% else %}
                    <span>{{ short_value }}</span>
                {% endif %}
                    <br/>
                    <div class="btn-group on-row-hover">
                        <a class="btn btn-mini btn-info crud-button-text" data-modal-title-text="Dump of <span class='groupname'>{{ item.groupname }}</span>.<span class='name'>{{ item.name }}</span>"  data-modal-text-selector=".text-dump-{{ item.id }}" href="#"><i class="icon-zoom-in"></i> {{ translate('entity.button.dump') }}</a>
                    </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
