
{# @todo define this somewhere else #}

<style type="text/css">

table.crud-translationtext th.column-site {
    width: 110px;
    min-width: 110px;
}

table.crud-translationtext th.column-key {
    width: 30%;
}

table.crud-translationtext th.column-text1 {
    width: 70%;
}

table.crud-translationtext th.column-text2 {
    width: 35%;
}

table.crud-translationtext th.column-text3 {
    width: 23.33333%;
}

table.crud-translationtext th.column-text4 {
    width: 17.5%;
}

</style>

<div class="crud crud-filter">
    <form method="get" action="" class="well form-inline">
        {% loadView 'Crud/TranslationText/findAll' as ttexts %}
        <select name="filter-siteandgroup">
            <option value="">(filter on site &amp; group)</option>
        {% for loopvar in ttexts.htmliterator({'groupingby':'sitename,groupname'}) %}
            {% if loopvar.item_first %}
                {% set ttext = loopvar.value %}
                {% set value = [ ttext.sitename,'/',ttext.groupname]| join %}
                {% set selected = '' %}
                {% if value == view.queryarguments['filter-siteandgroup']|default('') %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
                <option value="{{ value }}"{{ selected }}>{{ ttext.sitename }} / {{ ttext.groupname }}</option>
            {% endif %}
        {% endfor %}
        </select>

        {% loadView 'Crud/TranslationText/findAll' as ttexts with { 'order':'state' } %}
        <select name="filter-state">
            <option value="">(filter on state)</option>
        {% for loopvar in ttexts.htmliterator({'groupingby':'state'}) %}
            {% if loopvar.item_first %}
                {% set ttext = loopvar.value %}
                {% set value = ttext.state %}
                {% set selected = '' %}
                {% if value == view.queryarguments['filter-state']|default('') %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
                <option value="{{ value }}"{{ selected }}>{{ translate(['translationtext.state-',ttext.state]|join) }}</option>
            {% endif %}
        {% endfor %}
        </select>

        <input type="text" class="input-medium" name="filter-name" placeholder="Search by key name" value="{{ view.queryarguments['filter-name']|default('') }}" />

        <button type="submit" class="btn">filter</button>
    </form>
</div>

<table class="crud crud-translationtext table table-striped" data-crud-table="{{ crud.htmlid }}">
    <thead>
        <tr>
            <th class="column-checkbox select-checkbox">
                <input type="checkbox" name="id-toggle" data-id="id-toggle">
            </th>
            <th class="column-id sort-by" data-order="id"                 >{{ translate([crud.entity.name,'.crud-heading.id']) }}</th>
            <th class="column-site sort-by" data-order="key"              >{{ translate([crud.entity.name,'.crud-heading.sitename']) }}</th>
            <th class="column-key sort-by" data-order="key"               >{{ translate([crud.entity.name,'.crud-heading.key']) }}</th>
            <th class="column-text_nl"                                    >{{ translate([crud.entity.name,'.crud-heading.text_nl']) }}</th>
            <th class="column-text_en"                                    >{{ translate([crud.entity.name,'.crud-heading.text_en']) }}</th>
        </tr>
    </thead>

    <tbody>
    {% for item in view.result %}
        <tr class="state-group state-group-{{ item.state|slice(0,1) }}">
            <td class="select-checkbox">
                <input type="checkbox" name="id{{ item.id }}" data-id="{{ item.id }}">
            </td>
            <td>
                № {{ item.id }}

                <br/>
                {% if item.state|slice(0,1) == 2 %}
                <span class="label label-warning">auto-filled</span>
                {% elseif item.state|slice(0,1) == 9 %}
                <span class="label">old value</span>
                {% endif %}
            </td>
            <td>
                <span class="sitename">{{ item.sitename }}</span>
            </td>
            <td>
                <span class="groupname">{{ item.groupname }}</span>.<span class="name">{{ item.name }}</span>

                <span class="crud-hide text-delete-{{ item.id }}">
                    Are you sure you want to delete the key <strong><span class="groupname">{{ item.groupname }}</span>.<span class="name">{{ item.name }}</span></strong>?
                </span>

                <div class="btn-group on-row-hover">
                    {% if is_granted(crud.entity.roles.update) %}
                    <a class="btn btn-mini crud-button-link" data-loading-text="Starting edit&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments) }}"><i class="icon-pencil"></i> {{ translate('entity.button.edit') }}</a>
                    {% endif %}
                    {% if is_granted(crud.entity.roles.delete) %}
                    <a class="btn btn-mini btn-danger crud-button-confirm" data-modal-text-selector=".text-delete-{{ item.id }}" data-loading-text="Deleting&hellip;" href="{{ ref(['_table/',crud.entity.name,'/',item.id],view.queryarguments({'action':'delete'})) }}"><i class="icon-trash icon-white"></i> {{ translate('entity.button.delete') }}</a>
                    {% endif %}
                </div>
            </td>
            <td>
                <span>
                    {{ item.textnl }}
                </span>
            </td>
            <td>
                <span>
                    {{ item.texten }}
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
