{% extends "Base/content_and_meta.html.twig" %}

{% block content %}

    <h1>
        Site status
    {% if badges.important > 0 %}
        <span class="badge badge-important">{{ badges.important }}</span>
    {% endif %}
    {% if badges.warning > 0 %}
        <span class="badge badge-warning">{{ badges.warning }}</span>
    {% endif %}
    </h1>

    {% include 'Include/inline_messages.html.twig' %}

    <p>
        This page contains an overview of the current status of your site.
    </p>


    <h2>Performance</h2>

    <dl class="dl-horizontal">
        <dt>Symfony 2</dt>
        <dd>
            <div class="btn-group">
                <a class="btn btn-mini disabled" href="{{ ref('_siteadmin/clearcaches') }}">Clear</a>
                <a class="btn btn-mini btn-primary" href="{{ ref('_siteadmin/clearcaches/all') }}">all</a>
                <a class="btn btn-mini" href="{{ ref('_siteadmin/clearcaches/dev') }}">development</a>
                <a class="btn btn-mini" href="{{ ref('_siteadmin/clearcaches/prod') }}">production</a>
                <a class="btn btn-mini disabled" href="{{ ref('_siteadmin/clearcaches') }}">caches</a>
            </div>
        </dd>
        <dt>Webresources</dt>
        <dd>
            <a class="btn btn-mini" href="{{ ref('_siteadmin/rebuildwebresources') }}">Rebuild webresources</a>
        </dd>
    </dl>


    <h2>System subsystems</h2>

    <dl class="dl-horizontal">
    {% for check in checks %}
        <dt>{{ check.name }}</dt>
        <dd>
        {% if check.attention %}
            <span class="label label-important">{{ check.attention }}</span><br/>
        {% endif %}
            {{ check.description }}
        </dd>
    {% endfor %}
    </dl>


    <h2>Updates</h2>

    <dl class="dl-horizontal">
        <dt>PivotX</dt>
        <dd>4.0.0 installed. Up to date.</dd>

        <dt>Symfony</dt>
        <dd>2.1.4 installed. <span class="label label-warning">2.1.6 available.</span> Minor update.</dd>

        <dt>Twig</dt>
        <dd>1.11.1 installed. <span class="label label-warning">1.16.1 available.</span> Security update. <span class="label label-important">Update recommended.</span></dd>
    </dl>

{% endblock %}


