{% extends "Base/content_and_meta.html.twig" %}

{% block content %}

    <h1>
        Site status
    {% if badges.important > 0 %}
        <span class="badge badge-important">{{ badges.important }}</span>
    {% endif %}
    {% if badges.warning > 0 %}
        <span class="badge badge-warning">{{ badges.warning }}</span>
    {% endif %}
    </h1>

    {% include 'Include/inline_messages.html.twig' %}

    <p>
        This page contains an overview of the current status of your site.
    </p>


    <h2>Performance</h2>

    <dl class="dl-horizontal">
        <dt>Symfony 2</dt>
        <dd>
            <div class="btn-group">
                Clear cache:

                <div class="btn-group">
                {% if app.session.hasFlash('previous_flush') %}
                    {% set previous_flush = app.session.flash('previous_flush') %}
                    {{ previous_flush }}
                    <a class="btn btn-mini" href="{{ ref(['_siteadmin/clearcaches/',previous_flush]|join) }}">
                        {% if previous_flush == 'prod' %}
                            Clear production cache
                        {% elseif previous_flush == 'dev' %}
                            Clear development cache
                        {% elseif previous_flush == 'all' %}
                            Clear all caches
                        {% else %}
                            Clear {{ previous_flush }} cache
                        {% endif %}
                    </a>
                {% else %}
                    <a class="btn btn-mini" href="{{ ref('_siteadmin/clearcaches/prod') }}">
                        Clear production cache
                    </a>
                {% endif %}
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ ref('_siteadmin/clearcaches/all') }}">Clear all caches</a></li>
                        <li><a href="{{ ref('_siteadmin/clearcaches/dev') }}">Clear development cache</a></li>
                        <li><a href="{{ ref('_siteadmin/clearcaches/prod') }}">Clear production cache</a></li>
                    </ul>
                </div>
            </div>
        </dd>
        <dt>Webresources</dt>
        <dd>
            <a class="btn btn-mini" href="{{ ref('_siteadmin/rebuildwebresources') }}">Rebuild webresources</a>
        </dd>
    </dl>


    <h2>System subsystems</h2>

    <dl class="dl-horizontal">
    {% for check in checks %}
        <dt>{{ check.name }}</dt>
        <dd>
        {% if check.attention %}
            <span class="label label-important">{{ check.attention }}</span><br/>
        {% endif %}
            {{ check.description }}
        </dd>
    {% endfor %}
    </dl>


    <h2>Updates</h2>

    <dl class="dl-horizontal">
    {% loadView 'Backend/findUpdatableComponents' as components %}
    {% for component in components.result %}
        <dt>{{ component.name }}</dt>
        <dd>
            <span class="our-version" name="{{ component.component_name }}">{{ component.version }}</span> installed.
            <span class="new-version"><span class="version"></span> <span class="message">No update information available.</span></span>
        </dd>
    {% endfor %}
    </dl>

{% endblock %}


