
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            {#
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            #}
            <a class="brand" href="{{ ref('_page/dashboard') }}">{{ translate('header.button.pivotx') }}</a>

            {% loadList 'Backend/Profilemenu' as menu %}
            <div class="btn-group pull-right">
            {% for menuitem in menu.items %}
                {% if menuitem.ismenu %}
                    <a class="btn dropdown-toggle {% if menuitem.attribute('switched_user') %}btn-warning{% endif %} }}" data-toggle="dropdown" href="#">
                        <i class="{{ menuitem.attribute('icon') }}"></i> {{ menuitem.label }} <span class="caret"></span>
                    </a>
                    {% set submenu = menuitem.menu %}
                    <ul class="dropdown-menu">
                    {% for subitem in submenu.items %}
                        <li class="{{ subitem.classes }}">
                        {% if subitem.haslink %}
                            <a href="{{ subitem.link }}">{{ subitem.label }}{% if subitem.attribute('selected')==true %} <i class="icon-ok"></i>{% endif %}</a>
                        {% else %}
                            {{ subitem.label }}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </div>

            {% loadList 'Backend/Topmenu' as menu  %}
            <div class="nav-collapse">
                <ul class="nav {{ menu.classes }}">
                {% for menuitem in menu.items %}
                    {% if not menuitem.ismenu %}
                    <li class="{{ menuitem.classes }}"><a href="{{ menuitem.link }}">{{ menuitem.label }}</a></li>
                    {% else %}
                    <li class="{{ menuitem.classes }}">
                        <div class="btn-group pull-left">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="{{ menuitem.attribute('icon') }}{{ menuitem.attribute('my-class') }}"></i>
                                {{ menuitem.label }}
                                <span class="caret"></span>
                            </a>

                            {% set submenu = menuitem.menu %}
                            <ul class="dropdown-menu {{ submenu.classes }}">
                            {% for subitem in submenu.items %}
                                {% if not subitem.ismenu %}
                                <li class="{{ subitem.classes }}">
                                    {% if subitem.haslink %}
                                    <a href="{{ subitem.link }}">
                                        <!-- <i class="icon-pencil"></i> -->
                                        {{ subitem.label }}
                                    </a>
                                    {% else %}
                                        {{ subitem.label }}
                                    {% endif %}
                                </li>
                                {% else %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">{{ subitem.label }}</a>
                                    <ul class="dropdown-menu">
                                    {% set sub2menu = subitem.menu %}
                                    {% for sub2item in sub2menu.items %}
                                        <li class="{{ sub2item.classes }}"><a href="{{ sub2item.link }}">{{ sub2item.label }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>

