
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ ref('_page/dashboard') }}">{{ translate('header.button.pivotx') }}</a>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ backend.security.username }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ ref('_page/logout') }}">{{ translate('header.button.logout') }}</a></li>
                </ul>
            </div>

{# this should be removed once Lists really lands 
            <div class="nav-collapse">
                <ul class="nav">
                    <li x-class="active"><a href="{{ ref('_page/dashboard') }} ">{{ translate('header.button.dashboard') }}</a></li>
                    <li>
                        &#160;
                        <div class="btn-group pull-left">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-pencil"></i>
                                {{ translate('header.button.content-group') }}
                                <span class="caret"></span>
                            </a>

                            {% loadView 'Backend/loadContentMenu' as items %}
                            <ul class="dropdown-menu">
                            {% for item in items.result %}
                                <li><a href="{{ ref(item.refText, item.refArguments) }}">{{ item.label }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% if is_granted('ROLE_DEVELOPER') %}
                    <li>
                        &#160;
                        <div class="btn-group pull-left">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-fire"></i>
                                Developers
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ ref('_developer/webresourcer') }}">Webresources</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ ref('_developer/routing') }}">Routing</a></li>
                                <li><a href="{{ ref('_developer/views') }}">Views</a></li>
                                <li><a href="{{ ref('_developer/formats') }}">Formats</a></li>
                            </ul>
                       </div>
                    </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
#}

            {% loadList 'Backend/Topmenu' as menu %}
            <div class="nav-collapse">
                <ul class="nav {{ menu.classes }}">
                {% for menuitem in menu.items %}
                    {% if not menuitem.ismenu %}
                    <li class="{{ menuitem.classes }}"><a href="{{ menuitem.link }}">{{ menuitem.label }}</a></li>
                    {% else %}
                    <li class="{{ menuitem.classes }}">
                        &#160;
                        <div class="btn-group pull-left">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="{{ menuitem.attribute('icon') }}"></i>
                                {{ menuitem.label }}
                                <span class="caret"></span>
                            </a>

                            {% set submenu = menuitem.menu %}
                            <ul class="dropdown-menu {{ submenu.classes }}">
                            {% for subitem in submenu.items %}
                                <li class="{{ subitem.classes }}"><a href="{{ subitem.link }}">{{ subitem.label }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
