<div class="modal hide" id="default-modal">
    <div class="modal-header">
        {# kan weg? #}
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>{{ translate('modal.default-title') }}</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
{#        <a href="#" class="btn" data-dismiss="modal" data-modal-kind="close">Close</a> #}
        <a href="#" class="btn" data-dismiss="modal" data-modal-kind="cancel">{{ translate('modal.button.cancel') }}</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" data-modal-kind="ok">{{ translate('modal.button.ok') }}</a>
        <a href="#" class="btn btn-danger" data-modal-kind="confirm">{{ translate('modal.button.confirm') }}</a>
        <a href="#" class="btn btn-success" data-modal-kind="save">{{ translate('modal.button.save') }}</a>
        <a href="#" class="btn btn-danger" data-modal-kind="delete">{{ translate('modal.button.delete') }}</a>
    </div>
</div>
