<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ ref('_page/dashboard') }}">{{ translate('header.button.pivotx') }}</a>
            <div class="btn-group pull-right">
                <a class="btn" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ translate('header.button.login') }}
                </a>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ ref('_page/dashboard') }} ">{{ translate('header.button.dashboard') }}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
